@import "bootstrap/custom";

header {
  background-color: #202020;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  ul {
    margin-bottom: 0;
    li {
      display: inline-block;
      a {
        color: white;
        &:active,
        &:hover {
          color: $yellow;
          text-decoration: underline;
        }
      }
      &.active a {
        color: $yellow;
      }
    }
  }
  form {
    button.btn {
      background-color: transparent;
      border-color: $yellow;
      color: $yellow;
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
        color: black;
      }
    }
  }
}