
@import "bootstrap/bootstrap";

article {
  margin-bottom: 2rem;
  &.even {
    h2 a {
      color: $blue-color;
      &:visited { color: darken($blue-color, 30%); }
      &:hover { color: lighten($blue-color, 15%); }
      &:focus,
      &:active { color: darken($blue-color, 15%); }
      .fa { color: $white; }
    }
  }
  h2 {
    font-size: 1.5rem;
    a {
      color: $yellow-color;
      &:visited { color: darken($yellow-color, 30%); }
      &:hover { color: lighten($yellow-color, 15%); }
      &:focus,
      &:active { color: darken($yellow-color, 15%); }
    }
  }
  hr {
    border: 1px solid darken(white, 65%);
    margin-top: 2rem;
    width: 50%;
  }

}