
@import "bootstrap/bootstrap";
@import "menu";

@mixin vhfa($color, $v: 20%, $h: 10%, $fa: 10%) {
  color: $color;
  &:visited { color: darken($color, $v); }
  &:hover { color: lighten($color, $h); }
  &:focus,
  &:active { color: darken($color, $fa); }
}





section.post {

  // default styles
  &:hover {
    background-color: lighten($body-bg, 3%);
    /*transition: background-color 1s ease-in-out;*/
  }
  height: auto;
  opacity: 1;
  padding: 2rem 0;
  position: relative;
  left: 0;
  right: 0;
  transition: all 1s;


  &.hide {
    height: 0;
    opacity: 0;
    padding: 0;
    left: -2000px;
    visibility: hidden;
    &.right {
      left: 2000px;
      left: 2000px;
      right: -2000px;
    }
  }

  a {
    @include vhfa($yellow);
    &:hover {
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .icons {
    a, .fa { color: $white; }
  }
  .description { overflow: hidden; }

  // even
  &.even {
    a { @include vhfa($blue); }
  }


  // saved
  &.saved {
    &.even {
      background-color: $blue-bg;
      color: $white;
      &:hover { background-color: lighten($blue-bg, 2%); }
    }

    background-color: $yellow-bg;
    color: $white;
    &:hover { background-color: lighten($yellow-bg, 2%); }


    .icons {
      a { background-color: $red; }
      .badge:hover { background-color: lighten($red, 10%);}
    }
  }

}


hr {
  border-top: 1px solid darken(white, 10%);
  margin: 1rem auto;
  width: 50%;
}
